bin/Debug/net8.0/Liv.ArtAPI.dll
bin/Debug/net8.0/Liv.ArtAPI.exe
bin/Debug/net8.0/Liv.ArtAPI.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/Liv.ArtAPI.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Liv.ArtAPI.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Liv.ArtAPI.dll
obj/Debug/net8.0/Liv.ArtAPI.pdb
obj/Debug/net8.0/Liv.ArtAPI.sourcelink.json
obj/Debug/net8.0/ref/Liv.ArtAPI.dll
obj/Debug/net8.0/refint/Liv.ArtAPI.dll
